/*main body styles*/

body {
  margin: 0px;
  background-color: #01538F;
}

h1 {
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 120px;
  padding-bottom: 0;
}

/*main page choice buttons (easy vs hard play)*/
.choices .play_easy {
  color: #FFD046;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.choices .play_hard {
  color: #EF3E42;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.choices .play_easy:hover, .play_hard:hover{
  color:white;
  font-size: 50px;
}

/*holds all content*/
.easy_game_container, .beginning_game_page{
  display: flex;
  align-items: center;
  flex-direction: column;
}

  /*header and footer line styles*/
.line_one {
  width: 100%;
  height: 15px;
  background-color: #EF3E42;
}

.line_two {
  width: 100%;
  height: 15px;
  background-color: #FFD046;
}

/*star icons*/
i {
  color: white;
}

/*link to go to the home page*/
.home_line {
  width: 95%;
  height: 35px;
  margin-top: 10px;
}

.home_line a {
  color: white;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

.home_line a:hover{
  border-bottom: 1px solid white;
}

/*holds all of the image cards*/
.game_board {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  margin-bottom: 35px;
}

/*boxes that hold images (cards)*/
.game_title {
  width: 160px;
  height: 160px;
  border: 1px solid white;
  box-sizing: border-box;
  margin: 5px;
  border-radius: 5%;
  background-size: 100%;
}

.game_title:hover, .game_tile_sml:hover{
  border: 5px solid white;
}

.game_tile_sml {
    width: 130px;
    height: 130px;
    border: none;
    box-sizing: border-box;
    margin: 5px;
    border: 1px solid white;
    border-radius: 5%;
    background-size: 100%;

}

/*each photo card*/

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #ten, #eleven, #twelve, #thirteen, #fourteen, #fifteen, #sixteen, #seventeen, #eighteen{
  background-image: url('images/bricks.jpg');
}
/*etc.*/

content a, h3 {
  text-align: center;
  color: white;
}

h3 {
  font-family: 'Raleway', sans-serif;
}

.content{
  height: 5%;
}

.choices {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.choices a {
  text-decoration: none;
  font-size: 45px;
}

.game_details {
  display: flex;
  padding:0;
  list-style-type: none;
  width: 85%;
  justify-content: space-between;
  color: white;
  font-family: 'Raleway', sans-serif;
}



.main_title {
  width: 90%;
  height:250px;
}

.title_box {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  height: 450px;
  text-align: center;
  margin: 15px 0;
}

.title_box h1 {
  font-size: 100px;
}



/*footer*/
hr {
  border: 2px solid white;
  width: 100%;
  margin: 15px 0;
}
